streamlit==1.47.0
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
opencv-python-headless==4.8.1.78
pillow
numpy==1.26.4  
matplotlib
python-dotenv
httpx
openai
git+https://github.com/jacobgil/pytorch-grad-cam.git@master